.paises-container {

    height: 100vh;

    &.dark {
        background-color: $Very-Dark-Blue;
    }

    &.light {
        background-color: $Very-Light-Gray;
    }

    .pais-map {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
}